*{
    box-sizing: border-box;
}

article, aside, details, footer, header, main, menu, nav, section, summary {
    display: block;
}

@font-face {
    font-family: "light";
    src: url(fonts/font1);
}

@font-face {
    font-family: "regular";
    src: url(fonts/font2);
}

@font-face {
    font-family: "bold";
    src: url(fonts/font3);
}

body,div,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,textarea,ul {
    margin: 0;
    padding: 0;
    font-family: regular;
}

.eds-structure {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.eds-structure-header {
    position: sticky;
    top: 0;
    z-index: 600;
}

.globalNav-module-main {
    background-color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eeedf2;
    height: fit-content;
    padding: 10px 16px 16px;
    box-sizing: border-box;
}

.nav-Container {
    flex: 1;
    display: flex;
}

.nav-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-mobileNavTop {
    display: flex;
    align-items: center;
    width: 100%;
}


.nav-module-logo {
    margin-right: 24px;
    display: flex;
}

.eds-vector-image {
    background-size: contain;
    margin: 0 auto;
    height: 24px;
    width: 24px;
}

.eds-vector-image--block {
    display: block;
}

.eds-is-hidden-accessible {
    left: -999999px;
    position: absolute;
}

.logo-module__desktop___34U8a {
    display: none;
    border-radius: 4px;
    outline: 3px solid transparent;
    outline-offset: -3px;
    padding: 5px 0;
}

.nav-module-links {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    height: 40px;
    margin-left: auto;
    max-width: 350px;
}

.mobilenav-link-container {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-basis: 100%;
}

.mobilenav-list-link {
    text-decoration: none;
    white-space: nowrap;
    -webkit-box-align: center;
}

.navlink-module-main {
    color: #39364f;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 100px;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 16px;
    white-space: pre-line;
    line-height: 20px;
    outline: 3px solid transparent;
    height: inherit;
}

.mobile-dropdn {
    cursor: pointer;
    padding: 10px 8px;
    position: relative;
    margin-top: 4px;
    visibility: visible;
}

.cross-btn{
    display:none;
    cursor:pointer;
}

.mobile-dropdn>ul{
    height:max-content;
    position:absolute;
    right:-24px;
    top:58px;
}

.threeline-dropdn{
    background:#fff;
    border-radius:4px;
    box-shadow:0px 5px 0px 0px rgba(40, 44, 53, .1), 0 2px 5px rgba(40, 44, 53, .1);
    list-style:none;
    width:240px;
    z-index:1000;
    visibility:hidden;
}
.threeline-dropdn.active .cross-btn{
    display: block;
}
.threeline-dropdn.active .hamburger{
    display:none;
}

.threeline-dropdn.active{
    visibility: visible;
}

.threeline-dropdn-link{
    height:56px;
}

.threeline-dropdn-link .navlink-dropdn{
    color:#39364f;
    text-decoration:none;
    display:flex;
    align-items:center;
    gap:16px;
    line-height:20px;
    outline:3px solid transparent;
    outline-offset:-3px;
    padding:0 21px;
    font-family:light;
    font-size:14px;
    height:56px;
}

.icon-small-findevent{
    height:24px;
    width:24px;
    fill: #1e0a3c;
}


.dropdn-link-spn{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#fff;
    color:#39364f;
    gap:16px;
    height:56px;
    line-height:20px;
    outline:3px solid transparent;
    outline-offset:-3px;
    padding:0 24px;
    font-size:14px;
    text-decoration:none;
}

#chevron-down-chunky{
    height:24px;
    width:24px;
}

.threeline-links{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#fff;
    color:#39364f;
    gap:16px;
    height:56px;
    line-height:20px;
    outline:3px solid transparent;
    outline-offset:-3px;
    padding:0 24px;
    font-family: light;
    font-size:14px;
    text-decoration:none;
}

.nav-searchbar {
    width: 100%;
}

.searchbar {
    margin-top: 12px;
}

.typography-root {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width:100%;
    justify-content: space-between;
}

.searchbar-label-container {
    position: relative;
    align-items: center;
    background-color: #f8f7fa;
    border: 1px solid #dbdae3;
    border-radius: 100px;
    display: flex;
    flex-grow: 1;
    height: 44px;
    padding: 0 12px;
}

.searchbar-label-container .search-label {
    display: flex;
    flex: 1;
    align-items: center;
    background-color: transparent;
    border: none;
    gap: 4px;
    height: 40px;
}

.search-input--header {
    width: 100%;
}

.eds-field-internal {
    display: flex;
    position: relative;
    background: transparent;
    border: none;
}

.eds-field-aside-icon {
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 -12px;
    overflow: hidden;
}

.eds-vector-image {
    display: inline-block;
    box-sizing: initial;
    height: 24px;
    width: 24px;
    margin: 0 auto;
}

.eds-field-input-container {
    display: flex;
    position: relative;
    min-width: 0;
    flex: 1;
}

.eds-field-label-wrapper {
    box-sizing: border-box;
    overflow: hidden;
    padding: 12px;
    pointer-events: none;
    position: absolute;
    width: 100%;
}

.eds-field-input {
    height: auto;
    font-size: 16px;
    line-height: 22px;
    text-overflow: ellipsis;
    width: 200%;
    background: none;
    border: none;
    color: #39364f;
    min-height: 23px;
    outline: none;
    font-family: light;
    transition: padding .16s cubic-bezier(.4, 0, .3, 1), color .4s cubic-bezier(.4, 0, .3, 1);
}

.divider-container{
    height:32px;
    margin-right:8px;
    display: flex;
    align-items: center;
}

.location-container{
    width:100%;
}

.location-holder{
    position:relative;
}

.location-holder-internal{
    border:none;
    display:flex;
    position:relative;
    border-radius:1px;
}

.mobileSearchBarRightSide {
    margin: 0;
    padding: 0;
    display: flex;
}

.search-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -8px;
}

.searchButton {
    background-color: transparent;
    border: none;
    display: flex;
    padding: 0;
}

circle {
    fill: #cc3f24;
}

.eds-structure-body--overflow-set {
    overflow: hidden;
}

.eds-structure-body {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: normal;
}

.main-mask-overflow-set {
    overflow: hidden;
}

.eds-structure-main-mask {
    flex: 1;
    position: relative;
}

/* .eds-fixed-bar-layout {
    display: flex;
    justify-content: center;
    height: 100%;
} */

.eds-structure-main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow:hidden;
}

.eds-structure-main {
    flex: 1 0 auto;
    position: relative;
    align-self: center;
    width: 100%;
}

.eds-g-grid {
    margin-left: auto;
    margin-right: auto;
}

.eds-global-footer {
    color: #dbdae3;
    width: 100%;
}

.banner-carousel {
    margin: 0 auto;
    max-width: 1272px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.banner-wrapper {
    display: flex;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
    width: 100%;
}

.eds-1-mar-top-4 {
    margin-top: 16px;
}

.carousel-imgdiv {
    height: 100%;
    min-width: 100%;
    /* max-width:100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: transform 1s ease-in-out;
}

.eds-1-mar-bot-2 {
    margin-bottom:12px;
}

.banner-carousel img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.dots-container {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 4px;
    left: 50%;
    transform: translateX(-50%);
}

.dots-container svg circle {
    fill: white;
}

.dots-container svg.active circle {
    fill: #716B7A;
}

.carousel-button-container{
    position:absolute;
    left:0;
    right:0;
    top:50%;
    display:flex;
    justify-content: space-between;
    padding:0 10px;
    transform:translateY(-50%);
    visibility: hidden;
}

.carousel-arrow-btn{
    background-color:#fff;
    border:2px solid #dddae3;
    border-radius:360px;
    height:44px;
    width:44px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.iconCategory-browse {
    padding: 20px 0;
}

.iconCategory-wrapper {
    display: flex;
    max-width: 1272px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: wrap;
    margin: 0 15px;
}

.iconCategory-wrapper a {
    flex: 1 0 25%;
    margin: 0;
    cursor: pointer;
}

.iconCategory-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon-cat-img {
    height: 64px;
    width: 64px;
    margin-bottom: 6px;
    background-color: #fff;
    border: 1px solid #dee5ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-cat-img:hover{
    background-color:#dee5ff;
}

.icon-cat-img svg:hover{
    fill:#627deb;
}

.icon-cat-img:hover .icon-cat-title{
    color:#627deb;
}

.icon-cat-img svg {
    height: 32px;
    width: 32px;
    fill:#627deb;
}

.icon-cat-title {
    font-size: 12px;
    color: #261b36;
}

.iconCategory-wrapper a[href*=art] {
    text-decoration: none;
    margin-bottom: 15px;
}

.iconCategory-wrapper a[href*=art] p {
    width: 70px;
}

.iconCategory-browse a[href*=holiday] svg {
    height: 24px;
    width: 18px;
}

.iconCategory-browse a[href*=holiday] {
    text-decoration: none;
}

.browse-section hr {
    background-color: #f2f2f2;
    border: none;
    height: 1px;
    margin: 0;
}

.eds-layout-body{
    margin: 0 auto;
    max-width: 1272px;
    padding:0 16px;
}

.browse-location {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0px;
}

.browse-location-text {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .25px;
    line-height: 24px;
}

.location-autocomplete {
    max-width: 100%;
    min-width:300px;
    position:relative;
}

.autocomplete-dropdn {
    position: relative;
}

.eds-vector-image{
    margin:0;
    background-size:contain;
    vertical-align: middle;
}

.eds-icon--medium{
    height:48px;
    width:48px;
}

.field-styled-internal {
    display: flex;
    position: relative;
    align-items: center;
    padding:2px 0 2px 2px;
}

.field-styled-aside {
    margin: 0 -2px;
    display: flex;
    height: 48px;
}

.eds-icon--medium svg {
    height: 48px;
    width: 48px;
    fill: #3659e3;
}

.field-input-container {
    display: flex;
    position: relative;
    flex: 1;
    min-width: 0;
}

.field-styled-input {
    height: auto;
    padding: 12px 0;
    border: none;
    background: none;
    min-height: 23px;
    outline: none;
    transition: padding .16s cubic-bezier(.4, 0, .3, 1), color .4s cubic-bezier(.4, 0, .3, 1);
    font-size: 18px;
    letter-spacing: .25px;
    line-height: 24px;
    position: relative;
}

.field-styled-input::placeholder{
    color:#3d64ff
}

.field-input-container::after {
    content: attr(data-val);
    border-bottom: 2px solid #dbdae3;
    left: 2px;
    right: 2px;
    bottom: 10px;
    position: absolute;
    padding-left:2px;
    padding-right:6px;
    width:130.55;
}

.browse-location .eds-dropdown{
    max-height:550px;
    min-width:230px;
    overflow:auto;
    z-index:4;
    border-top:none;
    position:absolute;  
    top:100%;
    left:0;
    width:100%;
    box-shadow:0 1px 17px 0 rgba(40, 44, 53, .1), 0 2px 4px 0 rgba(40, 44, 53, .1);
    background-color:#fff;
    text-align:left;
    animation-name:fadeIn;
    visibility: hidden;
}

.eds-dropdown.active{
    visibility: visible;
}

.location-listbox{
    list-style-type:none;
    margin:8px 0;
    padding:0;
}

.listbox-item{
    outline:none;
}

.listbox-btn{
    padding:16px 24px;
    width:100%;
    border:none;
    background:none;
    cursor:pointer;
}

.listbox-btn:hover{
    background-color: #F8F7FA;
}

.listbox-btn-div{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.listbox-btn-aside{
    margin-right:16px;
}

.listbox-btn-content{
    flex:1 1 auto;
    min-width:0;
    text-align: left;
    font-size:14px;
    color:#39364f;
    font-family: light;
}

.listbox-btn-div svg{
    fill:#3d64ff;
}

@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opcaity:1;
    }
}

.without-sticky-behaviour{
    padding-top:0px;
}


.tabs-navigation{
    margin-bottom:0;
    overflow:visible;
    position:relative;
    white-space: nowrap;
    scrollbar-width: none;
}

.eds-1-pad-vert-3{
    padding-bottom:12px;
    padding-top:12px;
}

.tabs-navigation-list{
    display:flex;
    margin-bottom:0;
    overflow:auto;
    padding:16px 0;
    position:relative;
    list-style-type:none;
}

.tabs-navigation-list::-webkit-scrollbar{
    display:none;
}

.tabs-item:first-child{
    padding-left:0;
}

.tabs-item{
    flex:0 0 auto;
    display:inline-block;
}
.eds-1-pad-hor-2{
    padding-left:8px;
    padding-right:8px;
}

.eds-btn--button{
    padding:12px 0;
    cursor:pointer;
}

.eds-btn--button:hover .eds-text{
    color:#000;
}

.eds-btn--button:hover{
    border-bottom:2px solid #000;
}

.eds-text.active{
    color:#3d64ff;
}

button:has(.eds-text.active){
    border-bottom:2px solid #3d64ff;
}

.eds-btn-none{
    border:none;
    background:none;
}

.eds-text{
    color:#6f7287;
    font-family: regular;
    font-size:14px;
}


/* section cards  */

.feed-events-buckets{
    min-height:100px;
    max-width:1272px;
    padding-bottom:40px;
    padding-top:24px;
    position:relative;
    z-index:2;
}

.events-bucket-content{
    display:flex;
    flex-wrap:wrap;
}

.events-cards-container{
    display:flex;
    flex-wrap:wrap;
    width:100%;
}

.feed-card-cell{
    padding:8px 0;
    overflow:visible;
    width:100%;
    display:inline-block;
}

.card-container{
    display:flex;
    flex-direction:column;
    /* height:100%; */
    justify-content:space-between;
    overflow:visible;
    position:relative;
    
}

.card-container:hover{
    box-shadow: 0px 2px 8px rgba(30, 10, 60, 0.06), 0px 4px 12px rgba(30, 10, 60, 0.08);
    border-radius:16px;
}


.event-card-image-container{
    aspect-ratio: 2,2,2;
    background:#fff;
    border-radius:4px;
    display:flex;
    overflow:hidden;
    position:relative;
    width:100%,100%,100%;
    flex-direction:column;
}

.event-card-image{
    background:#9199aa,#eeedf2;
    height: 100%;
    width:100%;
    flex:1 1 100%;
    object-fit:cover;
    object-position:center;
    border-radius:4px;
}

.event-card-details{
    min-width:0;
    flex-grow:2;
    padding:8px 8px 16px 12px;
    position:relative;
}

.card-content-div{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}

.card-content-head{
    color:#3a3247;
    font-size:1.25rem;
    line-height:1.75rem;
    letter-spacing:.25px;
    margin-right:-.25px;
    text-overflow:ellipsis;
    display: -webkit-box;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.md-bold-para{
    font-size:1rem;
    line-height:1.5rem;
    /* margin-top:4px; */
    color: #3a3247;
}

.sm-bold-para{
    font-size:.875rem;
    line-height:1.25rem;
}

.card-content-div>*+*{
    margin-top:4px;
}

.event-price-details{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    gap:8px;
}

.ticket-off-price{
    display:inline-flex;
    align-items:center;
    background-color:#ffe6be;
    border-radius:8px;
    gap:6px;
    height:32px;
    padding:0 8px;
}

.user-icon{
    background-size:contain;
    display:inline-block;
    line-height:0;
    margin-right: 4px;
    margin-top:4px;
}

.user-icon svg{
    height:16px;
    width:16px;
}

.promoted-div{
    display:flex;
    gap:4px;
    align-items:center;   
}

.promoted-para{
    color:#716b7a;
    font-family:light;
    font-size:.875rem;
}

.help-sm-icon-div{
    background:none;
    border:none;
    display:inline-block;
}

.card-container:hover .event-card-actions{
    visibility: visible;
    opacity: 1;
}

.event-card-actions{
    opacity: 0;
    visibility: hidden;
    display:flex;
    align-items:center;
    gap:8px;
    justify-content:flex-end;
    position:absolute;
    right:8px;
    top:-48px;
    z-index:1;
    transition:0.3s ease-in;
}


.event-actions{
    background-color:#fff;
    border:1px solid #dbdae3;
    padding:7px;
    border-radius:40px;
    cursor:pointer;
}

.feed-events-seperator{
    background-color: #f2f2f2;
    border:none;
    height:1px;
    margin:0;
}

.sec-section-head{
    font-size:24px;
    letter-spacing:0.25px;
    font-family:bold;
    margin-right:-.25rem;   
}
.eds-tabs>div:last-child{
    padding-bottom:100px;
}

.see-more-inner{
    margin-top:8px;
    font-size:14px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.see-more-width-div{
    width:50%;
    display:inline-block;
    line-height: 22px;
}

.see-more-inner a{
    display: block;
    width: 100%;
    height: 44px;
    letter-spacing:.2px;
    padding:8px 30px;
    padding-top:8px;
    padding-bottom:8px;
    position:relative;
    text-align:center;
    border:2px solid #a9a8b3;
    border-radius:4px;
    cursor:pointer;
    font-family: light;
    line-height:24px;
}

/* bottom CITIES section  */

.bottom-shelf-container{
    background-color:#f8f7fa;
    padding-bottom:6px;
    padding-top:80px;
}

.top-destinations-container{
    padding-bottom:74px;
}

.popular-cities-container{
    padding-bottom:74px;
}

.ttd-container{
    margin-bottom:0 !important;
    padding-bottom: 5rem;
}
.simple-carousel-wrapper{
    display:flex;
    align-items:center;
    flex-direction:column;
}

.carousel-header{
    margin-bottom:0;
    padding-bottom:40px;
    display:flex;
    justify-content:space-between;
    width:98%;
}

.carousel-navigation{
    display:none;
    align-self:center;
    padding-left:4px;
}

.btm-btn-carousel{
    border:2px solid #dddae3;
    border-radius:360px;
    height:44px;
    width:44px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.btm-btn-carousel:disabled{
    background-color:#f8f7fa;
    border-color:#c1bdc7;
    cursor: default;
}

.btm-btn-carousel:disabled:hover{
    border-color:#c1bdc7;
}

.btm-btn-carousel{
    cursor: pointer;
    background-color: #fff;
}

.btm-btn-carousel:hover{
    border:2px solid #6f7287;
}

.Icon_root__1kdkz svg{
    height:40px;
    width:40px;
}

.btm-btn-carousel:first-child svg{
    fill:#c1bdc7;
}

.carousel-container{
    width:100%;
    display:flex;
    align-items:center;
    mask-image: -webkit-gradient(linear,right top,left top,from(transparent),color-stop(20%,#f8f7fa));
}

.bottom-shelf-heads{
    color:#1e0a3c;
    font-family:bold;
    font-size:1.5rem;
    letter-spacing:.25px;
    line-height:2rem;
    margin-right:-.25px;
}

.simple-carousel{
    display:flex;
    overflow-x:scroll;
    overflow-y:visible;
    width:100%;
    justify-content: flex-start;
}

.carousel-slide{
    width:auto;
    display:flex;
    justify-content:center;
}
.top-destination-card:first-child{
    margin-left:0;
}

.top-destination-card{
    height:188px;
    width:280px;
    margin:auto 24px;
    border-radius:40px 40px 0 0;
    color:inherit;
    display: block;
    overflow:hidden;
    position:relative;
}

.top-destination-card:hover .destination-orange-bar{
    height:50px;
}
.top-destination-card:hover .top-destination-card__image{
    transform: scale(1.1);
}

.top-destination-card__image{
    height:180px;
    background-position:50%;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius:40px 40px 0 0;
    transition:all .2s;
    transition-duration:.2s;
    width:100%;
}

.destination-name{
    position:absolute;
    bottom:32px;
    left:16px;
    width:100%;
    z-index:10;
}

.destination-name p{
    color:#f8f7fa;
    text-align:left;
    font-size:1.75rem;
    line-height: 2.25rem;
    font-family: bold;
}

.destination-gradient{
    background-image:linear-gradient(180deg, rgba(30,10,60, .8),rgba(30,10,60, .8));
    position:absolute;
    bottom:0;
    height:80px;
    width:100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 10, 60, 0)), to(rgba(30, 10, 60, .8)));
}

.destination-orange-bar{
    background-color:#f05537;
    position:absolute;
    bottom:0;
    height:8px;
    left:0;
    transition:all .2s;
    width:100%;
    transition-duration:.2s;
}


.infra-tags{
    /* -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(20%, #fff));
    -webkit-mask-image: linear-gradient(270deg, transparent, #fff 20%); */
    overflow-x: auto;
    padding-top:40px;
    padding-bottom:17px;
}
.infra-tags::-webkit-scrollbar{
    display:none;
}

.infra-tags-row{
    display:flex;
    gap:16px;
    margin-bottom:16px;
}

.infra-tag{
    background-color: rgb(255,255,255);
    border-radius:20px;
    display:inline-flex;
    height:36px;
    width:max-content;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    outline:none;
    overflow:hidden;
    position:relative;
}

.infra-tag-link{
    color:#000;
    font-size:.875rem;
    padding:12px 8px 12px 12px;
}
.infra-tag a:last-child{
    padding:12px 12px 12px 0;
    line-height:12px;
}

.footer-inner{
    background-color:#1e0a3c;
    margin-bottom:-1px;
}

.footer-divs{
    font-size:12px;
    line-height:24px;
    padding-top:16px;
    width:100%;
    display:inline-block;
    overflow:hidden;
    text-align:center;
}

.foot-p{
    font-size:16px;
    font-family: bold;
    line-height:1.5rem;
    padding-block:8px;
}

.footer-divs ul{
    padding-bottom:8px;
    padding-top:8px;
}

.footer-link{
    display:inline-block;
    font-size:14px;
    height:48px;
    font-family: light;
    cursor:pointer;
}
.footer-link:hover{
    color:#3d64ff;
    text-decoration: underline;
}

.footer-innertwo{
    padding-inline:24px;
    margin-inline:auto;
    background-color:#1e0a3c;
    text-align: center;
}

.copyright{
    font-size:12px;
    font-family:light;
    line-height:24px;
    padding:17px 0px 16px 0px;
    width:100%;
}

.general-links{
    font-size: 12px;
    font-family:light;
    line-height:24px;
    width:100%;
}

.bullet-links{
    display:inline-block;
}

.bullet-links a{
    display:inline-block;
    font-size:14px;
    height:48px;
    font-family:light;
    color:#dbdae3;
    cursor: pointer;
}

.bullet-links a:hover{
    color:#3d64ff;
    text-decoration: underline;
}

.bullet-links::after{
    color:#6f7287;
    content:"●";
    font-size:6px;
    line-height:16px;
    padding:0 6px;
    position:relative;
    top:-2px;
}

.bullet-linksLast{
    display:inline-block;
    font-family:light;
    color:#dbdae3;
}

.bullet-linksLast a{
    display:inline-block;
    font-size:14px;
    height:48px;
    color:#dbdae3;
}

.last-a{
    display:inline-block;
    font-size:14px;
    height:48px;
}

.label-wrapper{
    overflow:hidden;
    padding:12px;
    pointer-events:none;
    position:absolute;
    width:100%;
    /* margin-bottom:50px; */
}

#global-footer-select{
    -webkit-appearance: none;
    height:auto;
    font-size:16px;
    line-height:22px;
    padding:15px 14px 10px 5px;
    min-height: 23px;
    border:none;
    background: none;
    color:#dbdae3;
    font-size:12px;
    font-family: light;
    width:111px;
    position: relative;
}

.region-div .eds-vector-image{
    position:absolute;
    right:2%;
    bottom:17%;
}

#global-footer-select option{
    color:#333;
    font-size:16px;
}

.region-div{
    font-size:12px;
    line-height:24px;
    padding-top:14px;
    padding-bottom:3px;
    width:100%;   
    display:flex;
    justify-content:center;
}

.hidden-online-bar{
    display:none;
}

.mobile-hidden-search{
    display:none;
}

.hidden-mediaque-nav{
    display: none;
}
.hidden-infra-tags{
    display:none;
}

.mediaque-ul-div{
    display:none;
}

@media screen and (min-width:481px) {
    .iconCategory-browse a[href*=holiday] svg{
        height:36px;
        width:28px;
    }
    .iconCategory-wrapper{
        flex-wrap:nowrap;
        gap:57px;
        margin:0 auto;
    }
    .iconCategory-wrapper a{
        flex:0 0 0%;
    }
    .iconCategory-wrapper a:first-child{
        margin-left:25px;
    }
    .iconCategory-wrapper a:last-child{
        margin-right:25px;
    }
    .icon-cat-img svg{
        height:48px;
        width:48px;
        fill:rgb(57, 54, 79);
    }
    .icon-cat-img{
        margin-bottom:10px;
        height:109px;
        width:109px;
    }
    .iconCategory-wrapper a[href*=art] p{
        width:100%;
    }
    .iconCategory-wrapper a[href*=art]{
        margin-bottom:0;
    }
}

@media screen and (min-width:661px){
    .field-styled-input{
        padding-left:2px;
    }
    .carousel-navigation{
        display:flex;
    }
    .eds-dropdown-top{
        border-radius:0 0 10px 10px;
        min-width:0;
        width:calc(100% + 28px);
        border-top:none;
        top:36px;
        position:absolute;
        left:0;
        background-color: #fff;
        text-align: left;
        box-shadow: 0 1px 17px 0 rgba(40,44,53,.1),0 2px 4px 0 rgba(40,44,53,.1);
        visibility: hidden;
    }

    .eds-dropdown-top.show{
        visibility: visible;
    }

    .dropdown-top-ul{
        list-style-type: none;
        margin:8px 0;
        padding:0;
    }

    .see-more-width-div{
        width: 33.3333333333%;
    }
    .top-destination-card{
        height:216px;
        width:336px;
    }

    .top-destination-card__image{
        height:208px;
    }

    .iconCategory-wrapper a[href*=art] p{
        width:100%;
    }
    .hidden-online-bar{
        display:block;
    }
    
    .mobile-hidden-search{
        display:block;
    }
    .searchbar-label-container{
        flex:0 1 50%;
        max-width:50%;
        gap:4px;
        border:none;
        background-color: transparent;
        border-radius: 0;
        height:100%;
    }

    .search-btn-hidd{
        display:none;
    }
    .typography-root{
        padding:0 12px;
        height:42px;
    }
    .searchbar-label-container{
        padding-left:0;
    }

    .hidden-online-bar{
        display:flex;
        align-items:center;
        flex:1;
    }
    .searchbar{
        background-color:#f8f7fa;
        border:1px solid #dbdae3;
        border-radius:100px;
        height:44px;
        width:100%;
        cursor:pointer;
        margin-top:6px;
    }
    .globalNav-module-main{
        padding:8px 24px;
    }
    .browse-location{
        align-items:center;
        flex-direction:row;
    }
    
    .iconCategory-wrapper{
        gap:57px;
    }    
    .footer-inner{
        display:grid;
        grid-template-columns: repeat(4,1fr);
    }

    .footer-divs{
        padding-left:24px;
        text-align:left;
    }

    .footer-link{
        font-size:12px;
        height:auto;
    }
    .bullet-links a{
        height:auto;
        font-size:12px;
    }
    .bullet-linksLast a{
        height:auto;
        font-size:12px;
    }

    .bullet-linksLast{
        font-size:12px;
    }

    .footer-divs ul{
        list-style-type:none;
    }
    .feed-card-cell{
        width:50%;
        padding:8px;
    }
    .eds-field-input{
        font-size:14px;
    }
    .eds-field-input::placeholder{
        padding-bottom:5px;
    }

    .online-search-input::placeholder{
        color:#39364f;
    }
    .location-holder-internal{
        gap:12px;
    }

    .location-holder-internal label{
        padding-top: 2px;
        margin-left: -1px;
    }
    .location-holder-internal label svg{
        fill:#4b4d63;
    }
}

@media screen and (min-width:769px) {
    .mediaque-hid-tags{
        display:none;
    }
    .hidden-infra-tags{
        display:block;
    }
}

@media screen and (min-width:792px){
    .browse-location{
        padding:12px 16px;
    }

    .eds-layout-body{
        padding:0 24px;
    }

    .eds-1-pad-vert-3{
        padding:0 16px;
    }

    .footer-innertwo{
        display:flex;
    }
    .copyright{
        width:16.6666666667%;
    }

    .general-links{
        width:66.6666666667%;
    }

    .region-div{
        width:16.6666666667%;
    }

    .feed-card-cell{
        width:33.3333333333%;
        padding:16px;
    }
    .hidden-mediaque-nav{
        display:block;
    }
    .mobile-nav-search{
        display:none;
    }
    .nav-searchbar{
        width:auto;
        flex-grow:1;
    }
    .searchbar{
        margin-top:0;
    }
    .nav-module-links{
        flex-shrink:0;
        flex-basis: auto;
    }
    .mobilenav-link-container{
        justify-content:flex-end;
        gap:0;
    }
    .navlink-module-main{
        padding-left:8px;
        padding-right:8px;
    }

}

@media screen and (min-width:961px){
    .navlink-module-main{
        padding:10px 16px;
    }
    .navlink-module-main[href="login"]{
        padding:12px 16px;
    }
    .navlink-module-main[href="signup"]{
        padding:12px 20px;
    }
}

@media (min-width:960px) and (max-width:1079px){
    .eds-1-pad-hor-2{
        padding-left:12px;
        padding-right:12px;
    }
}

@media screen and (min-width:1080px){
    .mediaque-ul-div{
        display:flex;
        flex-shrink:0;
        align-items: center;
    }

    .mediaque-ul{
        display:flex;
        align-items:center;
        justify-content:flex-end;
        flex-wrap:wrap;
        height:40px;
        list-style: none;
    }
    .mediaque-ul-list{
        display:block;
    }

    .ul-list-anchor{
        color:#39364f;
        display:flex;
        align-items:center;
        font-size:14px;
        line-height: 20px;
        padding:10px 16px;
        height: inherit;
    }

    .nav-module-links{
        margin-left:16px;
        max-width:unset;
    }

    .help-center{
        position:relative;
        cursor:pointer;
        display: flex;
        align-items:center;
        justify-content: center;
        outline-offset: -3px;
        height: inherit;
        line-height: 20px;
        outline:3px solid transparent;
    }
    .help-dropdn-title{
        display:flex;
        align-items:center;
        justify-content: center;
        padding:10px 8px 10px 16px;
        font-size:14px;
        font-family: light;
    }

    .help-dropdn{
        position:absolute;
        top:44px;
        left:10px;
        width:240px;
        z-index:1000;
        align-self:flex-start;
        box-shadow: 0 1px 20px rgba(40,44,53,.1),0 2px 5px rgba(40,44,53,.1);
        visibility: hidden;
        background:#fff;
        border-radius:4px;
        list-style: none;
    }

    #up-chunky-arrow{
        display:none;
    }

    .help-dropdn.active{
        visibility:visible;
    }

    .help-dropdn.active #down-chunky-arrow{
        display: none;
    }

    .help-dropdn-list{
        height:56px;
    }

    .help-dropdn-list a{
        border-radius:0;
        color:#39364f;
        display:flex;
        align-items: center;
        height:inherit;
        gap:16px;
        font-size:14px;
        line-height: 20px;
        outline:3px solid transparent;
        outline-offset: -3px;
        padding:0 21px;
    }


    .Logo-module__desktop___34U8a{
        display:block;
    }

    .logo-module-mobile{
        display:none;
    }

    .mobilenav-link-container{
        display:none;
    }
    .nav-module-logo{
        margin-right:44px;
    }
}

@media screen and (min-width:1081px){
    .carousel-button-container{
        visibility: visible;
    }
    .carousel-imgdiv{
        border-radius:16px;
    }
}

@media (min-width:1080px) and (max-width:1151px){
    .eds-1-pad-hor-2{
        padding-left:16px;
        padding-right:16px;
    }
}

@media screen and (min-width:1272px){
    .feed-card-cell{
        width:25%;
    }
}

